http://localhost:8089/stats/report?theme=dark
